.auth-box-container {
  @include flexCenter(column);
}

.auth-box {
  @extend .master-input-container;
  #its {
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .logo {
    height: 25vh;
    margin-top: 1%;
  }
  h1:before {
    content: 'Grow';
  }
  h1:after {
    content: 'Time!';
  }
  p {
    text-align: center;
  }
  #slogan {
    margin-top: 2%;
    font-size: medium;
  }
  #register-text {
    margin-top: 2%;
  }
}
