@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin master-input-container {
  @include flexCenter(column);
  height: 90%;
  width: 60%;
  margin: 5%;
  background-color: white;
  box-shadow: 2px 2px 3px 3px $darkestGreen;
}
