.nav-bar {
  position: fixed;
  display: flex;
  justify-content: start;
  max-height: 15vh;
  width: 100vw;
  padding: 1% 0%;
  background: white;
  .logo-block {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    .nav-logo {
      height: 8vh;
    }
    .welcome-and-logout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25vw;
      margin-left: 1vw;
    }
    .logout {
      font-size: medium;
    }
  }
  .link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-right: 5%;
  }
  .nav-link {
    font-size: larger;
  }
}
