.selected {
  .selected-box-container {
    @include flexCenter(column);
    .selected-box {
      @include master-input-container;
      justify-content: flex-start;
      min-height: 70vh;
      width: 90%;
      margin-top: 20%;
      h1 {
        @extend h1:before;
        text-align: center;
        margin-top: 3%;
      }
      h6 {
        margin: 2% 5%;
      }
    }
    .selected-map {
      @include flexCenter(row);
      flex-wrap: wrap;
      justify-content: space-around;
      .plant-block {
        margin: 0px 10px;
        padding: 20px;
        img {
          margin: 0 auto;
          height: 250px;
          width: 200px;
          object-fit: cover;
        }
        h3,
        p {
          text-align: center;
        }
      }
    }
  }
}
