.register-box-container {
  @include flexCenter(column);
}

.register-box {
  @extend .master-input-container;
  .welcome {
    @extend h1:before;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  p {
    text-align: center;
    font-style: normal;
  }
  .master-input-box {
    margin: 2%;
  }
  .master-button {
    margin: 4%;
  }
}
