.auth-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-box #its {
  margin-top: 5%;
  margin-bottom: 1%;
}

.auth-box .logo {
  height: 25vh;
  margin-top: 1%;
}

.auth-box h1:before, .auth-box .register-box .welcome, .register-box .auth-box .welcome {
  content: 'Grow';
}

.auth-box h1:after {
  content: 'Time!';
}

.auth-box p {
  text-align: center;
}

.auth-box h6 {
  margin-top: 2%;
}

.auth-box #register-text {
  margin-top: 2%;
}

.register-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-box .welcome {
  margin-top: 2vh;
}

.register-box p {
  margin: 1vh 2vw;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.poppy-background {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-filter: hue-rotate(40deg);
          filter: hue-rotate(40deg);
}

.master-input-container, .auth-box, .register-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 30%;
  margin-top: 3%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px 3px #36613b;
          box-shadow: 2px 2px 3px 3px #36613b;
}

h1:before, .register-box .welcome {
  color: #6c9f4f;
  text-shadow: 1px 1px #36613b;
}

h1:after {
  color: #e9830a;
  text-shadow: 1px 1px #a96c19;
}

h6 {
  font-weight: 700;
  font-size: large;
  color: black;
  margin: 5%;
}

p {
  font-weight: 500;
  font-size: smaller;
  font-style: italic;
  margin: 5%;
  text-align: justify;
}

.master-input-box {
  height: 4vh;
  width: 60%;
  border: 1px solid black;
  border-radius: 2px;
  margin: 4px;
  padding-left: 20px;
  -webkit-box-shadow: 1px 1px 1px 1px #36613b;
          box-shadow: 1px 1px 1px 1px #36613b;
}

.master-input-box:focus {
  -webkit-box-shadow: 1px 1px 1px 2px #e9830a;
          box-shadow: 1px 1px 1px 2px #e9830a;
}

.master-button {
  background-color: #6c9f4f;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  font-weight: 700;
  text-shadow: 1px 1px black;
  border: 1px black;
  -webkit-box-shadow: 1px 1px 1px 2px #36613b;
          box-shadow: 1px 1px 1px 2px #36613b;
}

.master-button:hover {
  background-color: #e9830a;
}

a {
  color: #6c9f4f;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0.5px 0.5px #36613b;
}

a:hover {
  color: #e9830a;
}
/*# sourceMappingURL=styles.css.map */