@import './variables';
@import './mixins';
@import './auth';
@import './register';

* {
  margin: 0;
  border: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.poppy-background {
  filter: blur(3px);
  filter: hue-rotate(40deg);
}

.master-input-container {
  @include flexCenter(column);
  height: 90%;
  width: 30%;
  margin: 5%;
  background-color: white;
  box-shadow: 2px 2px 3px 3px $darkestGreen;
}

h1:before {
  color: $lightGreen;
  text-shadow: 1px 1px $darkestGreen;
}

h1:after {
  color: $orange;
  text-shadow: 1px 1px $darkestGreen;
}

h6 {
  font-weight: 700;
  font-size: large;
  color: black;
  margin: 5%;
}

p {
  font-weight: 500;
  font-size: smaller;
  font-style: italic;
  margin: 5%;
  text-align: justify;
}

.master-input-box {
  height: 4vh;
  width: 60%;
  border: 1px solid black;
  border-radius: 2px;
  margin: 4px;
  padding-left: 20px;
  box-shadow: 1px 1px 1px 1px $darkestGreen;
}

.master-input-box:focus {
  box-shadow: 1px 1px 1px 2px $orange;
}

.master-button {
  background-color: $darkGreen;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  font-weight: 700;
  text-shadow: 1px 1px black;
  border: 1px black;
  box-shadow: 1px 1px 1px 2px $darkestGreen;
}

.master-button:hover {
  background-color: $orange;
}

a {
  color: $darkGreen;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0.5px 0.5px $darkestGreen;
}

a:hover {
  color: $orange;
}
